/* Surcharge */
body {
  height: 100vh;
  background-color: #eef1f0;
  background-image: none;
  margin: 0;
  padding: 0;
}

.headerGrid {
  padding: 7px 0;
}

.headerGrid button {
  cursor: pointer;
}

/* Fin Surcharge */

.button {
  background-color: #4ea890;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  color: #ffffff;
}

#carts {
  width: 60%;
  background-color: #ffffff;
  margin: 150px auto;
  border-radius: 20px;
}

#carts h1 {
  text-align: center;
  margin: 0;
  padding: 30px 0;
}

#list_carts {
  padding: 0 50px 10px 50px;
}

#carts .cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f1f0;
  border-radius: 5px;
  padding: 0px 10px;
  margin-bottom: 10px;
}

#carts .cart.ghost,
#carts .cart .trip_id {
  display: none;
}

#carts .cart > *:last-child {
  display: flex;
  align-items: center;
  justify-content: end;
}

#carts .cart .button {
  display: block;
  width: 30px;
  height: 30px;
}

#total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #011547;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #ffffff;
  padding: 0 50px;
}

#total .button {
  padding: 5px 15px;
}
