<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TicketHack</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
  </head>
  <header class="headerGrid">
    <div id="logoTicketHack">
      <a href="./index.html">
        <button id="HomePage">Tickethack</button>
      </a>
    </div>
    <div id="cart">
      <a href="./cart.html">
        <button id="cart">Cart</button>
      </a>
    </div>
    <div id="booking">
      <a href="./booking.html">
        <button id="booking">Booking</button>
      </a>
    </div>
  </header>
  <body>
    <h5>Explore the world effortlessly by train!</h5>
    <h6>Compare, book and enjoy cheap prices for train tickets your journey starts on Tickethack.</h6>

    <div id="container">
      <div id="travelForm">
        <ul id="grid-list">
          <li class="liDepart">
            <label for="Departure"></label>
            <input type="text" id="Departure" name="Departure" placeholder="Departure" value="Paris" />
          </li>
          <li class="liArrival">
            <label for="arrival"></label>
            <input type="text" id="Arrival" name="Arrival" placeholder="Arrival" value="Lyon" />
          </li>
          <li class="liDate">
            <label for="ate"></label>
            <input id="Date" type="date" placeholder="JJ/MM/AAAA>" />
          </li>
        </ul>
        <div class="button">
          <button id="btnSearch" type="submit">Search</button>
        </div>
      </div>

      <div id="displayTravel">
        <div id="trainIcon">
          <img src="../assets/images/train.png" id="logoTrain" />
          <div class="separator"></div>
          <h1 id="timeToBook">It's time to book your future trip.</h1>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../assets/js/script.js"></script>
  </body>
</html>
